<div class="extra-space"></div>
    <h1 class="title-center">Where We Are</h1><br>

      
    <table class="table space" style="width: 90%;">
      <tr>
          <td>
              <div class="floating-box">
                  <div class="space"></div>
                  <h4>Location & Contact Details<br>
                      Tel: (626) 288-1044<br>
                      Email: narkmangolf@gmail.com<br>
                      8640 Rush St, Rosemead, CA 91770, USA<br>
                      <a href="https://www.whittiernarrowsgc.com/">Whittier Narrows Golf Course Website </a>
                  <div class="space"></div>
                  </h4>
              </div>
          </td>
      </tr>
  </table>
  {{!-- <div style="text-align: center;"> --}}

        {{!-- <h3>If you would like, fill out this form prior to your first lesson and bring it with you. Thanks!</h3>
        <a href="form.pdf" download>
            <h4>Click Here to Download PDF</h4>
        </a> --}}
    <div class="extra-space"></div>
    <hr class="hrLong">
    <div class="space"></div>