<div class="extra-space">
    <h1 class="title-center">Our Instructors</h1>
    <table class="table" style="width: 80%; text-align: center;">
        <tr>
            <td style="width: 50%;"><img class="shad" style="width: 100%;" src="pics/Jesse.jpeg"></td>
            <td style="width: 50%;"><img class ="shad" style="width: 100%;" src="pics/andrew.jpg"></td>
        </tr>
        <tr>
            <td>Founder of Narkman Golf. He has been playing golf since he was 4 years old. Can speak English, Mandarin,
                Thai</td>
            <td>Andrew plays collegiate golf at Saint Johns University. Has been playing competative golf as a junior
                and as a college athelete. Can speak English and Korean. </td>
        </tr>
    </table><br><br><br><br>


    <h1 class="title-center">Lesson Packages</h1><br>

    <table class="table" style="width: 90%;">
        <tr>
            <td>
                <div class="floating-box">
                    <h4>Private Lessons with Jesse</h4>
                    <hr>
                    <p>1 hr</p>
                    <p>$75</p>
                    <button class="button" onclick="window.location.href='/signup'">Book Now</button>
                </div>
            </td>
            <td>
                <div class="floating-box">
                    <h4>Private Lessons with Andrew</h4>
                    <hr>
                    <p>1 hr</p>
                    <p>$65</p>
                    <button class="button" onclick="window.location.href='/signup'">Book Now</button>
                </div>
            </td>
            <td>
                <div class="floating-box">
                    <h4>Group Lessons</h4>
                    <hr>
                    <p>1 hr</p>
                    <p>$30</p>
                    <button class="button" onclick="window.location.href='/signup'">Book Now</button>
                </div>
            </td>

        </tr>
    </table><br><br><br><br><br><br><br>
</div>