<div class="extra-space">

  <!--carousel  -->
  <div class="carousell">
    {{!-- <div class="pics">
      <img src="pics/DSC_8811.jpg" style="width:100%">
    </div> --}}
    <div class="pics">
      <img src="pics/DSC_8823.jpg" style="width:100%">
    </div>
    {{!-- <div class="pics">
      <img src="pics/DSC_8814.jpg" style="width:100%">
    </div> --}}
    <a class="left" onclick="next(-1)">&#9756;</a>
    <a class="right" onclick="next(1)">&#9758;</a>
  </div>
  <br>

  <br><br>
  </div>
  <!-- end carasel -->

  <br>
  <!-- title area -->
  <container style="text-align: center; padding: 50px;">
    <h1 class="title"> NARKMAN GOLF</h1>
    <h2> Perfect Your Game</h2>
  </container><br><br>
  <hr class="hrShort"><br><br>

  <!-- Different types of classses information -->
  <container style="text-align: center; width: 50%;">
    <table style="width: 95%; text-align:center; margin-left:auto; margin-right:auto">
      <tr class="shad">
        <td><img style="width: 100%" src="pics/golf2.jpg"></td>
        <td><img style="width: 100%" src="pics/golf3.jpg"></td>
        <td><img style="width: 100%" src="pics/golf4.jpg"></td>
      </tr>
      <!-- These pictures came from wix.com -->
      <tr class="shad" style="background-color: #FFF8C6; padding: 10px;">
        <td>
          <h3>One-on-one</h3>
          <p>Custom taylor your lesson to what you want improved most in your game. Or to what your instructor thinks is the best. 
            All up to you!
          </p>
        </td>
        <td>
          <h3>Group Lessons</h3>
          <p>Growing Together. Perfect for the beginner on a budget or the the more advanced player who just wants to
            brush up on
            some fundamentals.
          </p>
        </td>
        <td>
          <h3>Multi-Languages</h3>
          <p>Ask about what other languages our instructors speak
          </p>
        </td>
      </tr>
    </table>
    <br>
  </container>
  <br><br>

  <!-- This is the our story part -->
  <table class="table" style="width: 60%;">
    <tr>
      <td>
        <h1 class="title-center">Our Story</h1><br>
        <h4 style="text-align: center;">Making Golf Fun</h4><br>
        <p style="padding: 15px;">Our goal is to make golf fun by empowering the golfer. We give you the tools to
          improve your game in as little as one lesson.
          Our instructors have been in the golf industry for more than 10 years.
          By improving each part of your golf game, you will have more fun and look forward to going to the course.
          Come join us at Whittier Narrows and then join the community that is Narkman Golf.</p>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;">
        <img style="width: 100%; text-align: center;" src="pics/DSC_8871.jpg"></td>
    </tr>
  </table><div class="space"></div>


  <!-- unordered List -->
  <h1 class="title-center">What We Do</h1>
  <ul class="table" style="width: 50%;">
    <li>Golf Swing Analysis</li>
    <ul>
      <li>We use technology to give more the golfer more feedback</li>
      <li>An ipad is present every lesson</li>
      <li>Shot tracker gives all the data including distance, ball speed</li>
    </ul>
    <li>Teach Course Management</li>
    <ul>
      <li>On course lessons teach managing your game to shoot better scores</li>
      <li>We teach when to hit different shot types such as high, low, fade, draw. </li>
      <li>How to hit out of different lies such as the rough, hard pan, ball below or above feet.</li>
    </ul>
    <li>Develop interest for the game in youths</li>
    <ul>
      <li>We have summer camps for youths during summer break. </li>
      <li>Fun group outings take the seriousness out of the game</li>
      <li>Recommendations for jr tournaments to play if the youth is getting more serious. </li>
    </ul>
  </ul><div class="space"></div>
  <hr class="hrShort">

