<div class="extra-space">
    <h1 class="title-center">Sign Up for more Information</h1>        
    </div><br><br>
    <!-- box to fill out your info -->
    {{#if message}}
    <div class="space2">
      <div class="bg-warning cent">
        <br>
          {{!-- <button type="button" class="close">&times;</button> --}}
          <div style="font-size: x-large;" class="space-bottom">
           {{message.message}}
          </div>
      </div>
    </div>
    {{/if}}
    <table class="table" style="width: 90%; text-align: center;">
      <tr>
          <td>
              <div class="floating-box-signup">
                <br><br>
                <form class="container" method="POST" action="/">
                <button type="submit" class="btn btn-warning btn-lg space1">Submit</button>
                  <div class="signup-text">
                    
                    <div class="form-group">
                      
                      <h3 class="signup_text">Full Name</h3>
                      <input placeholder="name" class="form-control" name="n"><br>
                    </div>
                    <div class="form-group">
                      <h3 class="signup_text">Email Address</h3>
                      <input placeholder="email" class="form-control" name="email"><br>
                    </div>
                    <div class="form-group">
                      <h3 class="signup_text">Phone Number</h3>
                      <input placeholder="###-###-####" class="form-control" name="phone"><br>
                    </div>
                  </div> 
                </form>
                  <br>
              </div>
          </td>
      </tr>
  </table>
<div class="extra-space"></div>

  </div>
