<div class="extra-space">
<table class="table" style="width: 80%; text-align: center;">
    <tr>
        <td>
            <div class="floating-box">
              <br><br>
                <h1 class="blinking_snow">FILL OUT THIS FORM TO RENT SNOWBOARDS</h1><br>
                <h5>If you are at all interested renting a snowboard from us, or are just interested in doing it in the future <br>
                  click on the link below to lead to fill out the form and you will be emailed back. 
                </h5><br>
                <h3>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_rv3v5JA0O1_V5vp1TQkbaxIYtrIYpbHvASa-4KiciBSIZg/viewform?fbclid=IwAR1EndgEqEd0p3SmdXcTiF7RZ8Nmeh9RCKqs12hRulxT7sKU3OIMcZ2mZwQ">Click Here</a>
                </h3>
                <br><br>
            </div>
        </td>
    </tr>
</table>

<!-- description table -->
<table class="table" style="width: 80%; text-align: center;">
    <tr>
        <td>
            <div class="floating">
              <br><br>
                <h1 class="title_snow">Welcome to Jesse's Snowboard Rentals</h1><br>
                <ul style="text-align: left;">
                    <h2 class="big_blue_text">Got you homie</h2>
                    <hr>
                    <p>&#10052 Are you excited for snowboarding this season, but don't have a board?
                        Are you a beginner looking to test the waters?
                        We may have exactly what you are looking for!
                    </p>
                    <h2 class="big_blue_text">What we do</h2>
                    <hr>
                        <p> &#10052 We rent snowboards! The snowboard of course come with boots and bindings. 
                            Please contact for boot sizes available. 
                            All Equipment is sanitized after every use.  </p>
                    <h2 class="big_blue_text">Where we are located</h2> 
                    <hr>
                        <p> &#10052 We are located in Monrovia, California.
                            Closest mountains are Mt High, Big Bear, and Mammoth. 
                            See map below for pickup and dropoff location </p>
                        
                    <h2 class="big_blue_text">Pricing</h2>
                    <hr>
                        <h5> &#10052 We start at only $<del>35 </del><b> 25</b> dollars a day.
                            And each additional day is only 10 dollars! </h5>
                            <br><br><br><br><br><h3>
                            &#127956&#127956&#127956&#127956&#127956
                            &#127956&#127956&#127956&#127956&#127956&#127956
                            &#127956&#127956&#127956&#127956&#127956&#127956
                            &#127956&#127956&#127956&#127956&#127956&#127956
                            </h3><br><br><br><br><br><br><br>
                <p>If you are interested in a great deal check out <a href="https://powderalliance.com/partner-resorts/">Powder Alliance</a>
                    for mountain passes.  </p>
                       
                        <p>To go back to <a href="index.html">Narkman Golf</a>
                            to find out more info on golf lessons  </p>
                        <p>Happy Shreading.</p>
                <br>
                </ul>
            </div>
        </td>
    </tr>
</table><br>
<br><br>

</div>


<div id="snow"></div>