
.n-top {
    background-color: #d3d3d3;
}

.n-bottom {
  background-color: #d0d0d0;
}

.space {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.icon-left {
  padding-left: 1rem;
}

.icon-right {
  padding-right: 1rem;
  text-align: right;
}

.extra-space {
    padding-top: 9rem;
}

/* general styling */

.word-shadow {
    text-shadow: 0 6px 30px rgb(1, 1, 2);
}

.title {
    padding: 1rem;
    padding-left: 2rem;
    font-size: 50px;
    color: goldenrod;
    text-shadow: 0 6px 30px rgb(1, 1, 2);
}

.title-center {
    font-size: 50px;
    color: goldenrod;
    text-align: center;
    padding: 20px;
}

body {
    font-family: 'Segoe UI';
}

.table {
    width: 50%;
    margin: 0 auto;
}

#border {
    border: solid;
    padding: 5px;
}

/* with boundary lines */
.floating-box {
    float: center;
    width: 100%;
    padding: 2rem;
    border: 3px solid darkgray;  
    box-shadow: 0 10px 40px rgba(2, 5, 9, 0.79);
  }

.shad {
  box-shadow: 0 10px 40px rgba(2, 5, 9, 0.79);
}

  /* without boundry lines */
.floating{
    float: center;
    width: 90%;
    padding: 30px;
    margin: 10px;
}

.button {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 2px 2px darkgray;
}

.button:hover {
    background-color: goldenrod;
  }

.hrShort {
    width: 80%;
    background-color: goldenrod;
    margin-left: auto;
    margin-right: auto;
}

.hrLong {
    width: 95%;
    background-color: goldenrod;
    height: 2px;
}

/* Carousel */

.carousell {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  .left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    font-size: 50px;
    border-radius: 0 2px 2px 0;
  }
  
  .right {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .left:hover, .right:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* navbar */

  .shadow {
      box-shadow: 0 2px 2px darkgray;;
  }


  .nav-clicks {
        text-decoration: none;
        color: gray;
        padding-right: 20px;
        font-size: large;
        padding-left: 5px;
  }

  .nav-clicks:hover {
        text-decoration: none;
  }


/* blinking text golf */
  .blinking{
    animation:blinkingText 1.4s infinite;
}
@keyframes blinkingText{
    0%{color: black;}
    50%{color: transparent;}
    100%{color: goldenrod;}
}

/* snow page style */
/* ------------------------------------------ */

/* blinking text for snowboard */
.blinking_snow{
  animation:blinkingText_snow 1.4s infinite;
}
@keyframes blinkingText_snow{
  0%{color: black;}
  50%{color: lightblue;}
  100%{color: blue;}
}

.title_snow {
  font-size: 50px;
  color: rgb(105, 189, 241);
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}

.big_blue_text {
  font-size: 20px;
  color: blue;
}

.floating-box-signup {
  float: center;
  width: 90%;
  padding: 2rem;
  border: 3px solid darkgray; 
  margin: auto; 
  box-shadow: 0 10px 40px rgba(2, 5, 9, 0.79);
}

.signup-text {
  text-align: left;
  padding: 1rem;
}

.space1 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.space2 {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 3rem;
}

.cent {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0 10px 40px rgba(2, 5, 9, 0.79);
}

.space-bottom {
  padding-bottom: 1rem;
  padding-left: 1rem;
}